header{
    margin-bottom: .5rem;
    
    .navbar-brand{
        font-size: 2rem;
        font-family: 'Slackey', 'serif';
    }

    ul {
        display: flex;
        flex-direction: row;
        li.nav-item{
            padding: 0 .75rem;
        }
    }
}
