<header class="bg-primary">
    <nav class="navbar navbar-dark">
        <%= link_to 'USED', root_url, class: 'navbar-brand' %>
        <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item">
                <%= link_to fa_icon("plus", class: 'fa-2x'), '#', class: 'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to fa_icon("user", class: 'fa-2x'), '#', class: 'nav-link' %>
            </li>
        </ul>
    </nav>
</header>